ENV=local
GRPC_PORT=50051

REQUEST_TIMEOUT=30s
SHUTDOWN_TIMEOUT=10s

DISPATCH_ADDR=dispatch:50052

POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
