ENV=local

SERVER_PORT=8080

REQUEST_TIMEOUT=15s
SHUTDOWN_TIMEOUT=5s

ORDER_ADDR=passthrough:///order:50051
STORE_ADDR=passthrough:///store:50053
BASE_ADDR=passthrough:///base:50054
TRACKING_ADDR=passthrough:///tracking:50055
DISPATCH_ADDR=passthrough:///dispatch:50052
