ENV=local
GRPC_PORT=50052

REQUEST_TIMEOUT=30s
SHUTDOWN_TIMEOUT=10s

MIN_DRONE_BATTERY=50
DRONE_SEARCH_RADIUS=30000

TELEMETRY_ADDR=telemetry:50050
ORDER_ADDR=order:50051
STORE_ADDR=store:50053
BASE_ADDR=base:50054
TRACKING_ADDR=tracking:50055

TELEMETRY_EVENTS_TOPIC=telemetry-events

POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=dispatch

KAFKA_BROKERS=kafka:9092
KAFKA_GROUP_ID=dispatch-service-group
