ENV=local
GRPC_PORT=50052

REQUEST_TIMEOUT=15s
SHUTDOWN_TIMEOUT=5s

MIN_DRONE_BATTERY=50
DRONE_SEARCH_RADIUS=30000

TELEMETRY_ADDR=passthrough:///telemetry:50050
ORDER_ADDR=passthrough:///order:50051
STORE_ADDR=passthrough:///store:50053
BASE_ADDR=passthrough:///base:50054
TRACKING_ADDR=passthrough:///tracking:50055

TELEMETRY_EVENTS_TOPIC=telemetry-events

POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=dispatch

KAFKA_BROKERS=kafka:9092
KAFKA_GROUP_ID=dispatch-service-group
